<div [formGroup]="formGroup">
  <div class="label">
    <span
      >{{ config.label }}
      <ng-container *ngIf="config.requered == '1'">*</ng-container></span
    >
  </div>
  <dx-check-box
    [name]="config.name"
    [formControlName]="config.name"
    (ngModelChange)="handleValueChange(config)"
  >
    <dx-validator *ngIf="config.requered == '1'">
      <dxi-validation-rule type="required" message="Polje je obavezno">
      </dxi-validation-rule>
      <dxi-validation-rule
        type="pattern"
        [pattern]="config.regExpresion"
        message="Podatak ne odgovara formatu"
      >
      </dxi-validation-rule>
    </dx-validator>
  </dx-check-box>
</div>
