<ng-container *ngIf="isSeparator(dataSource); else separator">
  <!-- PRINT COLS INSIDE ROW -->
  <ng-container *ngFor="let cols of dataSource">
    <div class="bi-col"
      [style.minWidth]="colWidth(cols.width, dataSource, index) + '%!important'"
      [style.maxWidth]="colWidth(cols.width, dataSource, index) + '%!important'"
      [style.display]="!cols.width ? 'none' : 'flex'"
    >
      <!-- PRINT FIELDS INSIDE COL -->
      <ng-container
       *ngIf="colTemplateRef"
       [ngTemplateOutlet]="colTemplateRef"
       [ngTemplateOutletContext]="{$implicit:cols}"
    >
      </ng-container>
  </div>
  </ng-container>
</ng-container>

<ng-template #separator>
  <div class="separator"></div>
</ng-template>
