<h3 class="content-block">Savetnik FL</h3>

<!-- LOOKUP FORM EXAMPLE -->
<div class="content-block dx-card">
  <dx-accordion [collapsible]="true">
    <dxi-item title="Pretraga">
      <dx-form [formData]="filter" [colCount]="4">
        <dxi-item
          dataField="process"
          editorType="dxSelectBox"
          [editorOptions]="{
            items: processOptions,
            searchEnabled: true,
            value: ''
          }"
        >
          <dxo-label text="Proces"></dxo-label>
        </dxi-item>

        <dxi-item
          dataField="product"
          editorType="dxSelectBox"
          [editorOptions]="{
            items: productOptions,
            searchEnabled: true,
            value: ''
          }"
        >
          <dxo-label text="Proizvod"></dxo-label>
        </dxi-item>

        <dxi-item dataField="oj">
          <dxo-label text="OJ"></dxo-label>
        </dxi-item>

        <dxi-item dataField="processId">
          <dxo-label text="ID procesa proizvoda"></dxo-label>
        </dxi-item>

        <dxi-item
          dataField="statuses"
          [colSpan]="4"
          editorType="dxTagBox"
          [editorOptions]="{
            dataSource: statusOptions,
            showSelectionControls: true,
            searchEnabled: true,
            value: ''
          }"
        >
          <dxo-label text="Izabrani statusi"></dxo-label>
        </dxi-item>

        <dxi-item
          dataField="client"
          [colSpan]="1"
          editorType="dxRadioGroup"
          [editorOptions]="{
            items: clientOptions,
            layout: 'horizontal',
            value: ''
          }"
        >
          <dxo-label text="Klijent"></dxo-label>
        </dxi-item>

        <dxi-item dataField="fl_1">
          <dxo-label text="&nbsp;"></dxo-label>
        </dxi-item>

        <dxi-item
          dataField="fl_2"
          [colSpan]="2"
          [editorOptions]="{ disabled: true }"
        >
          <dxo-label text="&nbsp;"></dxo-label>
        </dxi-item>

        <dxi-item
          itemType="button"
          horizontalAlignment="left"
          [colSpan]="2"
          [buttonOptions]="{
            text: 'Trazi',
            type: 'default',
            useSubmitBehavior: true
          }"
        >
        </dxi-item>
      </dx-form>
    </dxi-item>
  </dx-accordion>
</div>
<!-- END LOOKUP FORM EXAMPLE -->

<!-- RESULTS TREE LIST -->
<div class="content-block dx-card">
  <dx-tree-list
    id="tasks"
    class="tree-list-single-depth"
    [dataSource]="treeListDataSource"
    [remoteOperations]="{ filtering: true }"
    [focusedRowEnabled]="true"
    [autoExpandAll]="false"
    [columnAutoWidth]="true"
    [showBorders]="true"
    (onCellPrepared)="cellPrepared($event)"
    keyExpr="id"
    parentIdExpr="parentId"
    rootValue=""
  >
    <dxo-scrolling mode="standard"></dxo-scrolling>
    <dxo-paging [enabled]="true" [pageSize]="10"> </dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[5, 10, 20]"
      [showInfo]="true"
    >
    </dxo-pager>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <dxi-column type="buttons" [width]="50">
      <dxi-button
        hint="Detalji"
        icon="mdi mdi-page-next-outline"
        [visible]="true"
        [onClick]="viewDetails"
      ></dxi-button>
    </dxi-column>

    <dxi-column dataField="name"></dxi-column>
    <dxi-column dataField="size" caption="Assigned" [width]="100"> </dxi-column>
    <dxi-column
      dataField="createdDate"
      caption="Created Date"
      dataType="date"
      [width]="100"
    ></dxi-column>
    <dxi-column
      dataField="modifiedDate"
      caption="Modified Date"
      dataType="date"
      [width]="100"
    ></dxi-column>
  </dx-tree-list>
</div>
<!-- END RESULTS TREE LIST -->

<!-- RESULTS TABLE EXAMPLE -->
<!-- <div class="content-block dx-card">
            <dx-data-grid
              [dataSource]="dataSource"
              [showBorders]="false"
              [focusedRowEnabled]="true"
              [focusedRowIndex]="0"
              [columnAutoWidth]="true"
              [columnHidingEnabled]="true"
            >
              <dxo-paging [pageIndex]="3" [pageSize]="5"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
              <dxo-filter-row [visible]="true"></dxo-filter-row>

              <dxi-column type="buttons" [width]="50">
                <dxi-button
                  hint="Detalji"
                  icon="mdi mdi-page-next-outline"
                  [visible]="true"
                  [onClick]="viewDetails"
                ></dxi-button>
              </dxi-column>

              <dxi-column
                dataField="Task_Subject"
                [width]="190"
                caption="Subject"
                [hidingPriority]="8"
              >
              </dxi-column>
              <dxi-column dataField="Task_Status" caption="Status" [hidingPriority]="6">
              </dxi-column>
              <dxi-column
                dataField="Task_Priority"
                caption="Priority"
                [hidingPriority]="5"
              >
                <dxo-lookup [dataSource]="priority" valueExpr="value" displayExpr="name">
                </dxo-lookup>
              </dxi-column>
              <dxi-column
                dataField="ResponsibleEmployee.Employee_Full_Name"
                caption="Assigned To"
                [allowSorting]="false"
                [hidingPriority]="7"
              >
              </dxi-column>
              <dxi-column
                dataField="Task_Start_Date"
                caption="Start Date"
                dataType="date"
                [hidingPriority]="3"
              >
              </dxi-column>
              <dxi-column
                dataField="Task_Due_Date"
                caption="Due Date"
                dataType="date"
                [hidingPriority]="4"
              >
              </dxi-column>
              <dxi-column
                dataField="Task_Priority"
                caption="Priority"
                name="Priority"
                [hidingPriority]="1"
              >
              </dxi-column>
              <dxi-column
                dataField="Task_Completion"
                caption="Completion"
                [hidingPriority]="0"
              >
              </dxi-column>

            </dx-data-grid>
          </div> -->
<!-- END RESULTS TABLE EXAMPLE -->

<div class="sticky-footer">
  <!-- SELECTED RESULT ACTIONS EXAMPLE -->
  <div class="content-block dx-card p-05">
    <dx-button
      class="m-05"
      icon="mdi mdi-handshake"
      text="Dogovor"
      type="default"
      [width]="120"
      (onClick)="viewForm()"
    >
    </dx-button>

    <dx-button
      class="m-05"
      icon="mdi mdi-printer"
      text="Stampa dodatne dokumentacije"
      type="default"
      [width]="120"
    >
    </dx-button>

    <dx-button
      class="m-05"
      icon="mdi mdi-eye"
      stylingMode="contained"
      text="Pregled"
      type="default"
      [width]="120"
    >
    </dx-button>

    <dx-button
      class="m-05"
      icon="mdi mdi-card-account-details"
      stylingMode="contained"
      text="Licna karta klijenta"
      type="default"
      [width]="120"
    >
    </dx-button>

    <dx-button
      class="m-05"
      icon="mdi mdi-file-document-outline"
      stylingMode="contained"
      text="Dokumentacija EDMS"
      type="default"
      [width]="120"
    >
    </dx-button>

    <dx-button
      class="m-05"
      icon="mdi mdi-information"
      stylingMode="contained"
      text="Info"
      type="default"
      [width]="120"
    >
    </dx-button>

    <dx-button
      class="m-05"
      icon="mdi mdi-calculator"
      stylingMode="contained"
      text="Kreditni kalkulator"
      type="default"
      [width]="120"
    >
    </dx-button>
  </div>
  <!-- END SELECTED RESULT ACTIONS EXAMPLE -->
</div>

<!-- ADDITIONAL DETAILS POPUP EXAMPLE -->
<dx-popup
  [width]="400"
  [height]="400"
  [showTitle]="true"
  title="Detalji predmeta - 1234"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [showCloseButton]="false"
  container=".dx-viewport"
  [(visible)]="detailsVisible"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="closeButtonOptions"
  >
  </dxi-toolbar-item>

  <dx-data-grid id="gridContainer" [dataSource]="detailsDataSource">
    <dxi-column dataField="label" caption="Natpis"> </dxi-column>
    <dxi-column dataField="value" caption="Vrednost"> </dxi-column>
  </dx-data-grid>
</dx-popup>
<!-- END ADDITIONAL DETAILS POPUP EXAMPLE -->

<!-- FORM EXAMPLE -->
<dx-popup
  [width]="800"
  [showTitle]="true"
  title="Povecanje limita - Zahtev iz ponude - id processa 8260316"
  [dragEnabled]="false"
  [closeOnOutsideClick]="false"
  [showCloseButton]="false"
  container=".dx-viewport"
  [(visible)]="formVisible"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="closeFormOptions"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="submitFormOptions"
  >
  </dxi-toolbar-item>

  <dx-scroll-view>
    <dx-form [formData]="form" [colCount]="12">
      <dxi-item
        dataField="jmbg"
        editorType="dxTextBox"
        [colSpan]="4"
        [editorOptions]="{
          disabled: true
        }"
      >
        <dxo-label text="JMBG"></dxo-label>
      </dxi-item>

      <dxi-item
        dataField="name"
        editorType="dxTextBox"
        [colSpan]="4"
        [editorOptions]="{
          disabled: true
        }"
      >
        <dxo-label text="Ime"></dxo-label>
      </dxi-item>

      <dxi-item
        dataField="surname"
        editorType="dxTextBox"
        [colSpan]="4"
        [editorOptions]="{
          disabled: true
        }"
      >
        <dxo-label text="Prezime"></dxo-label>
      </dxi-item>

      <dxi-item
        dataField="address"
        editorType="dxTextBox"
        [colSpan]="12"
        [editorOptions]="{
          disabled: true
        }"
      >
        <dxo-label text="Adresa"></dxo-label>
      </dxi-item>

      <dxi-item
        dataField="residentStatus"
        editorType="dxTextBox"
        [colSpan]="3"
        [editorOptions]="{
          disabled: true
        }"
      >
        <dxo-label text="Rezidentnost status"></dxo-label>
      </dxi-item>

      <dxi-item
        dataField="residentStatusLabel"
        editorType="dxTextBox"
        [colSpan]="9"
        [editorOptions]="{
          disabled: true
        }"
      >
        <dxo-label text="&nbsp;"></dxo-label>
      </dxi-item>

      <dxi-item
        dataField="limit"
        editorType="dxNumberBox"
        [colSpan]="3"
        [editorOptions]="{
          disabled: false
        }"
      >
        <dxo-label text="Zahtevani limit"></dxo-label>
      </dxi-item>

      <dxi-item
        dataField="limitLabel"
        editorType="dxTextBox"
        [colSpan]="9"
        [editorOptions]="{
          disabled: true
        }"
      >
        <dxo-label text="&nbsp;"></dxo-label>
      </dxi-item>

      <dxi-item
        dataField="validDate"
        editorType="dxDateBox"
        [colSpan]="3"
        [editorOptions]="{
          disabled: true
        }"
      >
        <dxo-label text="Rok vazenja"></dxo-label>
      </dxi-item>

      <dxi-item
        dataField="cardNumber"
        editorType="dxTextBox"
        [colSpan]="3"
        [editorOptions]="{
          disabled: true
        }"
      >
        <dxo-label text="Broj kartice"></dxo-label>
      </dxi-item>

      <dxi-item
        dataField="accountNumber"
        editorType="dxTextBox"
        [colSpan]="3"
        [editorOptions]="{
          disabled: true
        }"
      >
        <dxo-label text="Broj racuna"></dxo-label>
      </dxi-item>

      <dxi-item
        dataField="currentLimit"
        editorType="dxTextBox"
        [colSpan]="3"
        [editorOptions]="{
          disabled: true
        }"
      >
        <dxo-label text="Trenutni limit"></dxo-label>
      </dxi-item>

      <dxi-item [colSpan]="12">
        <dx-data-grid [dataSource]="formTableDataSource" [showBorders]="true">
        </dx-data-grid>
      </dxi-item>

      <dxi-item
        dataField="totalIncome"
        editorType="dxNumberBox"
        [colSpan]="3"
        [editorOptions]="{
          disabled: true
        }"
      >
        <dxo-label text="Ukupan iznos primanja"></dxo-label>
      </dxi-item>

      <dxi-item [colSpan]="9" [itemType]="'empty'"></dxi-item>

      <dxi-item
        dataField="analysisRequired"
        editorType="dxCheckBox"
        [colSpan]="12"
        [editorOptions]="{
          text: 'Slanje na dodatnu analizu'
        }"
      >
        <dxo-label text="Dodatna analiza"></dxo-label>
      </dxi-item>

      <dxi-item dataField="note" editorType="dxTextArea" [colSpan]="12">
        <dxo-label text="Komentar fronta"></dxo-label>
      </dxi-item>
    </dx-form>
  </dx-scroll-view>
</dx-popup>
