<div class="bi-form" *ngIf="form">
  <form [formGroup]="form">
    <!-- PRINT GROUPS -->
    <bi-form-group [dataSource]="formDataAttributes">
      <ng-template let-groups #group>
        <!-- PRINT ROWS INSIDE GROUP -->
        <bi-form-row [dataSource]="groups">
          <ng-template let-rows let-index #row>
            <!-- PRINT COLS INSIDE ROW -->
            <bi-form-col [dataSource]="rows">
              <ng-template let-cols let-index #col>
                <!-- PRINT FIELDS INSIDE COL -->
                <div class="bi-field-group" *ngIf="showCol(cols)">
                  <ng-container
                    [ngTemplateOutlet]="inputType(cols)"
                    [ngTemplateOutletContext]="{ cols: cols }"
                  >
                  </ng-container>
                </div>
              </ng-template>
            </bi-form-col>
          </ng-template>
        </bi-form-row>
      </ng-template>
    </bi-form-group>
  </form>
</div>

<!-- INPUT FIELDS -->
<ng-template #textField let-cols="cols">
  <bi-form-field-text
    [formGroup]="form"
    [config]="cols"
  ></bi-form-field-text>
</ng-template>

<ng-template #textAreaField let-cols="cols">
  <bi-form-field-textarea
    [formGroup]="form"
    [config]="cols"
  ></bi-form-field-textarea>
</ng-template>

<ng-template #numberField let-cols="cols">
  <bi-form-field-number
    [formGroup]="form"
    [config]="cols"
  ></bi-form-field-number>
</ng-template>

<ng-template #dateField let-cols="cols">
  <bi-form-field-date [formGroup]="form" [config]="cols"></bi-form-field-date>
</ng-template>

<ng-template #checkboxField let-cols="cols">
  <bi-form-field-checkbox
    [formGroup]="form"
    [config]="cols"
  ></bi-form-field-checkbox>
</ng-template>

<ng-template #radioField let-cols="cols">
  <bi-form-field-radio
    [formGroup]="form"
    [config]="cols"
    (fieldChange)="handleModelUpdateForRadioButtons(cols)"
  ></bi-form-field-radio>
</ng-template>

<ng-template #simpleLookupField let-cols="cols">
  <bi-form-field-simple-lookup
    [formGroup]="form"
    [config]="cols"
    [value]="formValue[cols.name]"
    [options]="simpleLookups[cols.lookupId]"
    (optionsChange)="handleSimpleLookupOptions($event, cols.name)"
    (lookupChange)="handleLookup($event, cols)"
  ></bi-form-field-simple-lookup>
</ng-template>

<ng-template #searchLookupField let-cols="cols">
  <bi-form-field-search-lookup
    [formGroup]="form"
    [config]="cols"
    [options]="searchLookups[cols.lookupId]"
    (searchChange)="handleSearchLookupOptions($event, cols.lookupId, cols.name)"
    (lookupChange)="handleLookup($event, cols)"
  >
  </bi-form-field-search-lookup>
</ng-template>

<ng-template #dataGridField let-cols="cols">
  <bi-form-data-grid
    [formGroup]="form"
    [config]="cols"
    (dataGridChange)="handleDataGridChange($event, cols.name)"
  ></bi-form-data-grid>
</ng-template>

<ng-template #separator>
  <div class="separator"></div>
</ng-template>
