.bi-form {
  background: white;
}

.bi-group {
  border: 1px solid whitesmoke;
  margin-bottom: 1rem;
  padding: 1rem;
}

.bi-row {
  display: flex;
}

.bi-col {
  display: flex;
  flex: 1;
  padding: .5rem;
}

.display-none {
  display: none;
}

.bi-field-group {
  //flex: 1;
  width: 100%;
  margin: 0 .25rem;
  // padding: .5rem;
  // background: whitesmoke;

  .label {
    font-size: .7rem;
    height: 15px;
    color: grey;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  input {
    width: 100%;
  }
}

input[type="radio"] {
  margin-left: 0;
}

.separator {
  flex: 1;
  margin: 2rem .75rem 1.5rem .75rem;
  border-top: 1px solid transparent;
  height: 1px;
}

/* The container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
  background-color: white;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
  background-color: white;
  border-color: #f36f20;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
	border-radius: 50%;
	background: #f36f20;
}

::ng-deep .bi-form {
  .dx-state-disabled .dx-widget, .dx-state-disabled.dx-widget {
    opacity: 1;
  }
}

.bi-field-group {
  margin-bottom: 1rem;
  padding: .5rem;
}
