<ng-container *ngFor="let groups of dataSource | biFormMapper; let i = index">
  <div class="bi-group">
    <dx-accordion [collapsible]="true" [class.no-header]="!getHeaderValue(groups[0])">
      <dxi-item [title]="getHeaderValue(groups[0])">
        <ng-container
           *ngIf="groupTemplateRef"
           [ngTemplateOutlet]="groupTemplateRef"
           [ngTemplateOutletContext]="{$implicit:groups}"
        >
        </ng-container>
      </dxi-item>
    </dx-accordion>
  </div>
</ng-container>
