<div [formGroup]="formGroup">
  <div class="label">
    <span>{{ config.label }} <ng-container *ngIf="config.requered == '1'">*</ng-container></span>
  </div>
  <label class="radio-container"
    >
    <input
      type="radio"
      [id]="config.radioButtonGroup + config.name"
      [name]="config.radioButtonGroup"
      [class.checked]="config.value == true || config.value == 'true'"
      [checked]="config.value == true || config.value == 'true'"
      [value]="config.value"
      (click)="handleValueChange(config)"
    />
    <span class="radio-checkmark"></span>
  </label>
</div>
