<!-- Modal // Default Form Example -->
<dx-popup
  [width]="900"
  [showTitle]="true"
  title="Liste"
  [dragEnabled]="false"
  [closeOnOutsideClick]="false"
  [showCloseButton]="false"
  container=".dx-viewport"
  [(visible)]="visible"
>
<!-- Modal action buttons -->
  <!-- Close Modal Button-->
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="closeFormOptions"
  >
  </dxi-toolbar-item>

  <!-- Form Submission Modal Button-->
  <dxi-toolbar-item
    *ngIf="formEditable"
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="submitFormOptions"
  >
  </dxi-toolbar-item>

  <dx-scroll-view>
    <!-- Modal Content - Dynamic form component -->
    <ng-container *ngIf="visible">
      <ng-container *ngIf="formData">
        <bi-dynamic-form [formData]="this.formData" (formDataChange)="formDataChange($event)"></bi-dynamic-form>
      </ng-container>
    </ng-container>
  </dx-scroll-view>
</dx-popup>
