<div [formGroup]="formGroup">
  <div class="label">
    <span>{{ config.label }} <ng-container *ngIf="config.requered == '1'">*</ng-container></span>
  </div>
  <dx-text-area
    [value]="config.value"
    [readOnly]="config.readOnly === '1'"
    [placeholder]="''"
    [name]="config.name"
    [pattern]="config.regExpresion"
    [formControlName]="config.name"
    [height]="100"
    width="100%"
  >
  <dx-validator>
    <dxi-validation-rule type="required" message="Polje je obavezno">
    </dxi-validation-rule>
    <dxi-validation-rule
      type="pattern"
      [pattern]="config.regExpresion"
      message="Podatak ne odgovara formatu"
    >
    </dxi-validation-rule>
  </dx-validator>
</dx-text-area>
</div>
