:host {
  //flex: 1;
  width: 100%;
  margin: 0 .25rem;
  display: block;
  // padding: .5rem;
  // background: whitesmoke;


  .label {
    font-size: .7rem;
    height: 15px;
    color: grey;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  input {
    width: 100%;
  }
}
