<h2 class="content-block">Profile</h2>

<div class="content-block dx-card responsive-paddings">
  <dx-form id="form"
    [formData]="employee"
    labelLocation="top"
    [colCountByScreen]="colCountByScreen"
  >
  </dx-form>
</div>

<div class="content-block dx-card responsive-paddings">
  <div class="buttons-demo">
    <div class="buttons">
        <div>
            <div class="buttons-column">
                <div class="column-header">
                    Normal
                </div>
                <div>
                    <dx-button
                        stylingMode="contained"
                        text="Contained"
                        type="normal"
                        [width]="120"
                        >
                    </dx-button>
                </div>
                <div>
                    <dx-button
                        stylingMode="outlined"
                        text="Outlined"
                        type="normal"
                        [width]="120"
                        >
                    </dx-button>
                </div>
                <div>
                    <dx-button
                        stylingMode="text"
                        text="Text"
                        type="normal"
                        [width]="120"
                        >
                    </dx-button>
                </div>
            </div>
            <div class="buttons-column">
                <div class="column-header">
                    Success
                </div>
                <div>
                    <dx-button
                        stylingMode="contained"
                        text="Contained"
                        type="success"
                        [width]="120"
                        >
                    </dx-button>
                </div>
                <div>
                    <dx-button
                        stylingMode="outlined"
                        text="Outlined"
                        type="success"
                        [width]="120"
                        >
                    </dx-button>
                </div>
                <div>
                    <dx-button
                        stylingMode="text"
                        text="Text"
                        type="success"
                        [width]="120"
                        >
                    </dx-button>
                </div>
            </div>
        </div>
        <div>
            <div class="buttons-column">
                <div class="column-header">
                    Default
                </div>
                <div>
                    <dx-button
                        stylingMode="contained"
                        text="Contained"
                        type="default"
                        [width]="120"
                        >
                    </dx-button>
                </div>
                <div>
                    <dx-button
                        stylingMode="outlined"
                        text="Outlined"
                        type="default"
                        [width]="120"
                        >
                    </dx-button>
                </div>
                <div>
                    <dx-button
                        stylingMode="text"
                        text="Text"
                        type="default"
                        [width]="120"
                        >
                    </dx-button>
                </div>
            </div>
            <div class="buttons-column">
                <div class="column-header">
                    Danger
                </div>
                <div>
                    <dx-button
                        stylingMode="contained"
                        text="Contained"
                        type="danger"
                        [width]="120"
                        >
                    </dx-button>
                </div>
                <div>
                    <dx-button
                        stylingMode="outlined"
                        text="Outlined"
                        type="danger"
                        [width]="120"
                        >
                    </dx-button>
                </div>
                <div>
                    <dx-button
                        stylingMode="text"
                        text="Text"
                        type="danger"
                        [width]="120"
                        >
                    </dx-button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
