$base-accent: #f36f20;
$base-font-family: "Open Sans", "Noto Kufi Arabic", "Helvetica", "Arial", sans-serif;
$base-text-color: rgba(0, 0, 0, 0.87);
$base-label-color: rgba(0, 0, 0, 0.87);
$base-icon-color: rgba(0, 0, 0, 0.54);
$base-spin-icon-color: rgba(0, 0, 0, 0.54);
$base-bg: #fff;
$base-border-color: #eeeeee;
$base-success: #57a332;
$base-warning: #ffc107;
$base-danger: #f44336;
$base-hover-color: rgba(0, 0, 0, 0.87);
$base-hover-bg: rgba(0, 0, 0, 0.04);
$base-focus-color: #fff;
$base-focus-bg: rgba(0, 0, 0, 0.04);
$base-link-color: #f36f20;
$base-border-radius: 2px;
$button-normal-color: rgba(0, 0, 0, 0.87);
$button-normal-bg: #dadada;
$button-normal-hover-bg: #c6c6c6;
$button-normal-focused-bg: #c6c6c6;
$button-normal-active-bg: #8e8e8e;
$button-default-color: #fff;
$button-default-bg: #f36f20;
$button-default-hover-bg: #dc5a0c;
$button-default-focused-bg: #dc5a0c;
$button-default-active-bg: #a74409;
$button-danger-color: #fff;
$button-danger-bg: #f44336;
$button-danger-hover-bg: #f11d0d;
$button-danger-focused-bg: #f11d0d;
$button-danger-active-bg: #bc160a;
$button-success-color: #fff;
$button-success-bg: #57a332;
$button-success-hover-bg: #458228;
$button-success-focused-bg: #458228;
$button-success-active-bg: #2e571b;
$list-group-color: rgba(0, 0, 0, 0.87);
$list-border-color: #eeeeee;
$list-group-header-bg: rgba(255, 255, 255, 0);
$list-normal-color: rgba(0, 0, 0, 0.87);
$list-expanded-group-color: #f36f20;
$list-item-hover-bg: rgba(0, 0, 0, 0.04);
$list-item-selected-bg: rgba(0, 0, 0, 0.12);
$list-item-active-bg: #cccccc;
$fieldset-field-label-color: rgba(117, 117, 117, 0.87);
$button-group-normal-selected-color: rgba(0, 0, 0, 0.87);
$button-group-normal-selected-bg: rgba(0, 0, 0, 0.18);
$button-group-default-selected-color: #f36f20;
$button-group-default-selected-bg: rgba(243, 111, 32, 0.22);
$button-group-danger-selected-color: #f44336;
$button-group-danger-selected-bg: rgba(244, 67, 54, 0.22);
$button-group-success-selected-color: #57a332;
$button-group-success-selected-bg: rgba(87, 163, 50, 0.22);
$scrollable-scroll-bg: rgba(191, 191, 191, 0.7);
$switch-bg: #9e9e9e;
$switch-handle-off-bg: #fafafa;
$switch-on-bg: rgba(243, 111, 32, 0.5);
$switch-handle-on-bg: #f36f20;
$tabs-tab-color: rgba(0, 0, 0, 0.54);
$tabs-tab-selected-color: #f36f20;
$tabs-selected-tab-bottom-border-color: #f36f20;
$tabs-tab-bg: #f7f7f7;
$tabs-hovered-tab-bg-color: #ededed;
$badge-color: #fff;
$badge-bg: #f36f20;
$navbar-tab-color: rgba(0, 0, 0, 0.87);
$navbar-tab-selected-color: rgba(0, 0, 0, 0.87);
$navbar-tab-bg: #f7f7f7;
$navbar-tab-selected-bg: #fff;
$overlay-content-bg: #fff;
$overlay-shader-bg: rgba(0, 0, 0, 0.32);
$textbox-search-icon-color: rgba(0, 0, 0, 0.54);
$texteditor-color: rgba(0, 0, 0, 0.87);
$texteditor-placeholder-color: rgba(148, 148, 148, 0.87);
$texteditor-bg: rgba(0, 0, 0, 0.04);
$texteditor-focused-bg: rgba(0, 0, 0, 0.04);
$texteditor-border-color: rgba(0, 0, 0, 0.22);
$texteditor-hover-border-color: rgba(0, 0, 0, 0.67);
$texteditor-focused-border-color: #f36f20;
$texteditor-hover-bg: rgba(0, 0, 0, 0.07);
$dropdowneditor-icon-active-color: rgba(0, 0, 0, 0.54);
$calendar-header-color: rgba(102, 102, 102, 0.87);
$calendar-cell-other-color: rgba(125, 125, 125, 0.87);
$calendar-cell-selected-bg: #f36f20;
$calendar-shevron-icon-color: #f36f20;
$load-indicator-segment-bg-color: #f36f20;
$treeview-focused-bg: rgba(0, 0, 0, 0.04);
$menu-color: rgba(117, 117, 117, 0.87);
$menu-item-selected-bg: rgba(224, 224, 224, 0.87);
$selectbox-list-bg: #fff;
$toolbar-bg: #fff;
$popup-title-bg: transparent;
$tileview-color: rgba(0, 0, 0, 0.87);
$toast-color: rgba(255, 255, 255, 0.87);
$toast-info-bg: rgba(0, 0, 0, 0.87);
$toast-warning-bg: #ffc107;
$toast-error-bg: #f44336;
$toast-success-bg: #57a332;
$progressbar-bg: rgba(243, 111, 32, 0.3);
$progressbar-range-bg: #f36f20;
$progressbar-label-color: #f36f20;
$tooltip-color: #fff;
$tooltip-bg: #616161;
$material-slider-bar-bg: rgba(243, 111, 32, 0.24);
$material-slider-bg: #f36f20;
$material-slider-tooltip-color: #fff;
$gallery-indicator-bg: #fff;
$gallery-indicator-item-selected-bg: #f36f20;
$gallery-indicator-focused-bg: #f36f20;
$gallery-navbutton-hover-color: #f36f20;
$gallery-navbutton-active-color: #f36f20;
$loadpanel-content-bg: #fff;
$tagbox-tag-color: rgba(0, 0, 0, 0.6);
$tagbox-tag-bg: #e0e0e0;
$tagbox-tag-active-color: rgba(0, 0, 0, 0.87);
$tagbox-tag-button-remove-bg: rgba(0, 0, 0, 0.36);
$accordion-title-color: rgba(0, 0, 0, 0.87);
$accordion-item-border-color: #eeeeee;
$accordion-icon-active-color: black;
$colorbox-overlay-bg: #fff;
$datagrid-columnchooser-item-color: rgba(0, 0, 0, 0.54);
$datagrid-columnchooser-font-weight: 500;
$datagrid-drag-header-border-color: rgba(243, 111, 32, 0.5);
$datagrid-selection-bg: rgba(243, 111, 32, 0.04);
$datagrid-row-selected-border-color: #eeeeee;
$datagrid-row-selected-color: rgba(0, 0, 0, 0.87);
$datagrid-row-focused-color: #fff;
$datagrid-row-focused-bg: #f58c4d;
$datagrid-menu-icon-color: rgba(86, 86, 86, 0.54);
$datagrid-cell-modified-border-color: rgba(87, 163, 50, 0.32);
$datagrid-row-invalid-faded-border-color: rgba(244, 67, 54, 0.32);
$datagrid-group-row-color: rgba(0, 0, 0, 0.54);
$datagrid-group-row-bg: white;
$datagrid-search-color: #fff;
$datagrid-search-bg: #f36f20;
$datagrid-row-error-color: #fff;
$datagrid-row-error-bg: #f88e86;
$datagrid-focused-border-color: #f58c4d;
$datagrid-editor-bg: rgba(255, 255, 255, 0);
$datagrid-row-alternation-bg: whitesmoke;
$datagrid-summary-color: rgba(0, 0, 0, 0.7);
$pager-page-selected-color: #fff;
$pager-page-selected-bg: #f36f20;
$pivotgrid-area-color: rgba(0, 0, 0, 0.54);
$pivotgrid-totalcolor: rgba(221, 221, 221, 0.2);
$pivotgrid-grandtotalcolor: rgba(0, 0, 0, 0.04);
$pivotgrid-field-area-text-color: rgba(0, 0, 0, 0.3);
$fileuploader-filename-color: rgba(0, 0, 0, 0.87);
$fileuploader-falename-status-color: rgba(102, 102, 102, 0.87);
$fileuploader-border-color: #eeeeee;
$scheduler-base-border-color: #eeeeee;
$scheduler-accent-border-color: #eeeeee;
$scheduler-appointment-text-color: #fff;
$scheduler-appointment-base-color: #f36f20;
$scheduler-appointment-start-color: rgba(0, 0, 0, 0.3);
$scheduler-workspace-focused-cell-color: rgba(243, 111, 32, 0.12);
$scheduler-first-month-border-color: #eeeeee;
$scheduler-current-time-cell-color: #f36f20;
$form-field-item-color: rgba(117, 117, 117, 0.87);
$form-group-border-color: #eeeeee;
$filterbuilder-text-color: rgba(0, 0, 0, 0.87);
$filterbuilder-text-focus-color: #fff;
$filterbuilder-plus-icon-color: rgba(87, 163, 50, 0.7);
$filterbuilder-remove-icon-color: rgba(244, 67, 54, 0.7);
$filterbuilder-group-operation-color: rgba(244, 67, 54, 0.3);
$filterbuilder-item-field-color: rgba(243, 111, 32, 0.3);
$filterbuilder-item-operator-color: rgba(87, 163, 50, 0.3);
$filterbuilder-item-value-color: rgba(238, 238, 238, 0.5);
$drawer-shader-background-color: rgba(0, 0, 0, 0.5);
