:host {
  //flex: 1;
  width: 100%;
  margin: 0 .25rem;
  display: block;
  // padding: .5rem;
  // background: whitesmoke;


  .label {
    font-size: .7rem;
    height: 15px;
    color: grey;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  input {
    width: 100%;
  }
}

.field-container {
  position: relative;
}

.lookup-btn {
  position: absolute;
  top: 15px;
  right: 0;
  background: none;
  min-width: 18px;

  &:hover, &:focus, &:active {
    background: none;
  }
}

::ng-deep .lookup-btn {
  background: none;
  &.dx-button-default .dx-icon {
    color: rgba(0,0,0,.54) // #f36f20;
  }
  .dx-button-content {
    padding: 0 !important;
  }
}
