<div [formGroup]="formGroup">
  <div class="label">
    <span>{{ config.label }}</span>
  </div>
  <dx-date-box
    [value]="config.value"
    [readOnly]="config.readOnly === '1'"
    [name]="config.name"
    [pattern]="config.regExpresion"
    [disabled]="disabled"
    [formControlName]="config.name"
    type="date"
    width="100%"
  >
    <dx-validator>
      <dxi-validation-rule type="required" message="Polje je obavezno">
      </dxi-validation-rule>
      <dxi-validation-rule
        type="pattern"
        [pattern]="config.regExpresion"
        message="Podatak ne odgovara formatu"
      >
      </dxi-validation-rule>
    </dx-validator>
  </dx-date-box>
</div>
