<ng-container *ngFor="let rows of dataSource; let i = index">
  <div class="bi-row" [class.display-block]="rows.length === 1">
    <ng-container
       *ngIf="rowTemplateRef"
       [ngTemplateOutlet]="rowTemplateRef"
       [ngTemplateOutletContext]="{$implicit:rows, index: i}"
    >
    </ng-container>
  </div>
</ng-container>




