<div class="content-block dx-card p-05">
  <dx-button
    class="m-05"
    icon="mdi mdi-card-account-details"
    text="Basic Example"
    type="default"
    (onClick)="openDefaultModal()"
  >
  </dx-button>
</div>

<div class="content-block dx-card p-05">
  <dx-button
    class="m-05"
    icon="mdi mdi-card-account-details"
    text="Form Fields Group Example"
    type="default"
    (onClick)="openHeaderModal()"
  >
  </dx-button>
</div>

<div class="content-block dx-card p-05">
  <dx-button
    class="m-05"
    icon="mdi mdi-card-account-details"
    text="Radio Form Example"
    type="default"
    (onClick)="openRadioModal()"
  >
  </dx-button>
</div>

<!-- Modal // Default Form Example -->
<dynamic-form-basic-example [visible]="defaultFormVisible" (visibleChange)="defaultFormVisible = $event"></dynamic-form-basic-example>


<!-- Modal // Header Groups Example -->
<dynamic-form-field-groups-example [visible]="headerFormVisible" (visibleChange)="headerFormVisible = $event"></dynamic-form-field-groups-example>


<!-- Modal // Radio Groups Example -->
<dynamic-form-list-type-example [visible]="radioFormVisible"  (visibleChange)="radioFormVisible = $event"></dynamic-form-list-type-example>
