<div class="label">
  <span>{{ config.label }}</span>
</div>
<ng-container *ngIf="dataGridConfig">
  <!-- Data Table -->
  <div class="grid-container">
    <dx-data-grid
      [dataSource]="dataGridConfig.gridColumns"
      [columns]="dataGridConfig.visibleColumns"
      [columnAutoWidth]="true"
      [focusedRowEnabled]="true"
      [showBorders]="true"
      keyExpr="ID_OBJEKAT"
      (onRowClick)="selectRow($event.data)"
    >
      <dxo-scrolling mode="standard" showScrollbar="always"></dxo-scrolling>
    </dx-data-grid>
  </div>
  <div class="grid-actions-container">
    <!-- Data Table Actions -->
    <ng-container *ngFor="let button of dataGridConfig.buttons">
      <dx-button
        class="mr-05"
        icon="mdi {{ actionIcon(button.actionId) }}"
        [text]="button.label"
        type="default"
        [width]="100"
        [disabled]="!(button.alwaysEnabled || selectedRow ? true : false)"
        (onClick)="rowAction(button.actionId)"
      >
      </dx-button>
    </ng-container>

  </div>
</ng-container>

<!-- Modal // Default Form Example -->
<dx-popup
  [width]="700"
  [showTitle]="true"
  title="Licna karta"
  [dragEnabled]="false"
  [closeOnOutsideClick]="false"
  [showCloseButton]="false"
  container=".dx-viewport"
  [(visible)]="visible"
>
<!-- Modal action buttons -->
  <!-- Close Modal Button-->
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="closeFormOptions"
  >
  </dxi-toolbar-item>

  <!-- Form Submission Modal Button-->
  <dxi-toolbar-item
    *ngIf="currentSelectedAction === actionType.Add || currentSelectedAction === actionType.Edit"
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="submitFormOptions"
  >
  </dxi-toolbar-item>

  <dx-scroll-view>
    <!-- Modal Content - Dynamic form component -->
    <ng-container *ngIf="visible">
      <ng-container *ngIf="formData">
        <bi-dynamic-form [formData]="this.formData" (formDataChange)="formDataChange($event)"></bi-dynamic-form>
      </ng-container>
    </ng-container>
  </dx-scroll-view>
</dx-popup>
