<div [formGroup]="formGroup" class="field-container search-lookup">
  <div class="label">
    <span
      >{{ config.label }}
      <ng-container *ngIf="config.requered == '1'">*</ng-container></span
    >
  </div>
  <dx-text-box
    [value]="config.value"
    [readOnly]="config.readOnly === '1'"
    [placeholder]="''"
    [name]="config.name"
    [pattern]="config.regExpresion"
    [formControlName]="config.name"
    width="100%"
    placeholder="Type..."
    (keydown)="keyDownEvent($event)"
  >
    <dx-validator>
      <dxi-validation-rule type="required" message="Polje je obavezno">
      </dxi-validation-rule>
      <dxi-validation-rule
        type="pattern"
        [pattern]="config.regExpresion"
        message="Podatak ne odgovara formatu"
      >
      </dxi-validation-rule>
    </dx-validator>
  </dx-text-box>
  <dx-button
    class="lookup-btn"
    icon="mdi mdi-feature-search-outline"
    type="default"
    (onClick)="toggleLookup()"
  >
  </dx-button>
</div>

<bi-form-lookup
  *ngIf="openLookup"
  [currentValue]="currentValue"
  [visible]="openLookup"
  [attributes]="config"
  [options]="options"
  (searchChange)="search($event)"
  (visibleChange)="valueSelected($event)"
></bi-form-lookup>
