@import "../../../../themes/generated/variables.base.scss";

.app-search {
  background-color: #eaeaea;
  border-radius: 5px;
  padding: 0 10px;
  border: none;
  box-shadow: none;
  width: 450px;
  margin: 0 auto;
}
