/* You can add global styles to this file, and also import other style files */
@import "themes/generated/variables.base.scss";
@import '~@mdi/font/css/materialdesignicons.css';

// BODY STYLES
.layout-body {
  background-image: url(/assets/bi-background-grey-opacity.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

// HEADER STYLES
.dx-toolbar .dx-toolbar-item.menu-button>.dx-toolbar-item-content .dx-icon {
  color: $base-accent;
}

.dx-toolbar.header-toolbar {
  background: white;
}

// TREEVIEW STYLES
.dx-treeview {
  .dx-treeview-node-container {
    .dx-treeview-node {
      &.dx-state-selected:not(.dx-state-focused)> .dx-treeview-item {
        background: whitesmoke;
      }

      &.dx-state-selected > .dx-treeview-item span {
        color: $base-accent;
      }

      &:not(.dx-state-focused)>.dx-treeview-item.dx-state-hover {
        background-color: whitesmoke;
      }
    }
  }
}

.dx-item-content.dx-treeview-item-content {
  font-weight: normal;

  .dx-icon:before {
    font-size: 1.5rem;
    opacity: .4;
  }
}

// .dx-state-selected {
//   .dx-item-content.dx-treeview-item-content {
//     font-weight: normal;

//     .dx-icon:before {
//       opacity: 1;
//     }
//   }
// }

// TREE VIEW SINGLE DEPTH STYLE
.tree-list-single-depth {
  tr[aria-level='1'] {
    .dx-treelist-empty-space::before {
      content: "";
      display: inline-block;
      width: 3px;
      height: 3px;
      background: #aaaaaa;
      border-radius: 50%;
      visibility: visible;
      margin: 1px;
    }

    &.dx-row-focused {
      .dx-treelist-empty-space::before {
        background: white;
      }
    }

    .dx-treelist-collapsed {
      display: none;
    }
  }
}

// CARD
.dx-card {
  box-shadow: none;
}

// ACCORDION
.dx-accordion {
  margin: 0;

  .dx-accordion-item {
    box-shadow: none;
  }
}

// DRAWER
.dx-drawer-panel-content {
  border-right: 1px solid #eaeaea;
  // box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  // z-index: 1;
}

// BUTTONS
.dx-button {
  box-shadow: none !important;
}

.dx-button-text {
  text-transform: none;
}

// PADDINGS
.p-05 {
  padding: .5rem;
}

.p-1 {
  padding: 1rem;
}

// MARGINS
.m-05 {
  margin: .5rem;
}

.m-1 {
  margin: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}


// TAG SELECT CONTROL STYLE
.dx-tag-content {
  background-color: #f36f20;
  color: white;
}

// STICKY FOOTER
.sticky-footer {
  position: sticky;
  bottom: 0;
}
