  <dx-popup
    [width]="800"
    [height]="430"
    [showTitle]="true"
    [title]="attributes?.label + ' - pretraga'"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false"
    [showCloseButton]="false"
    container=".dx-viewport"
    [(visible)]="visible"
  >
    <!-- Modal action buttons -->
    <!-- Close Modal Button-->
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="closeFormOptions"
    >
    </dxi-toolbar-item>

    <!-- Form Submission Modal Button-->
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="before"
      [options]="submitFormOptions"
      [disabled]="!this.selectedRow"
    >
    </dxi-toolbar-item>

    <dx-scroll-view>
      <dx-text-box
        [value]="currentValue"
        [placeholder]="'Trazi...'"
        width="100%"
        (keyup)="search($event)"
      ></dx-text-box>

      <!-- Modal Content - Dynamic form component -->
      <ng-container *ngIf="options">
        <div class="grid-container">
          <dx-data-grid
            class="lookupGridContainer"
            [dataSource]="options.gridColumns"
            [columns]="options.visibleColumns"
            [columnAutoWidth]="true"
            [focusedRowEnabled]="true"
            [showBorders]="true"
            [keyExpr]="attributes.lookupColumn"
            (onRowClick)="selectRow($event.data)"
          >
            <dxo-scrolling mode="virtual" showScrollbar="always"></dxo-scrolling>
          </dx-data-grid>
        </div>
      </ng-container>
    </dx-scroll-view>
  </dx-popup>
