:host {
  display: block;
  position: relative;
}

.grid-container {
  margin-top: 10px;
}

.grid-actions-container {
  padding: .5rem 0;
}

.mr-05 {
  margin-right: .5rem
}

:host {
  //flex: 1;
  width: 100%;
  margin: 0 .25rem;
  // padding: .5rem;
  // background: whitesmoke;
  display: block;
  position: relative;


  .label {
    font-size: .7rem;
    height: 15px;
    color: grey;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  input {
    width: 100%;
  }
}

::ng-deep .lookupGridContainer {
  height: 250px;
}
