<div
  *ngIf="formGroup && options"
  [formGroup]="formGroup"
  class="field-container"
>
  <div class="label">
    <span>{{ config.label }} <ng-container *ngIf="config.requered == '1'">*</ng-container></span>
  </div>
  <dx-drop-down-box
    [value]="gridBoxValue"
    [(opened)]="isGridBoxOpened"
    [valueExpr]="config.lookupColumn"
    [displayExpr]="config.lookupColumn"
    [deferRendering]="true"
    placeholder="Izaberi vrednost..."
    [showClearButton]="false"
    [dataSource]="options.gridColumns"
    [disabled]="disabled"
    [dropDownOptions]="{ container: '.dx-viewport', width: '400px' }"
  >
    <div *dxTemplate="let data of 'content'">
      <dx-scroll-view>
        <ng-container>
          <div class="grid-container">
            <dx-data-grid
              class="lookupGridContainer"
              [dataSource]="options.gridColumns"
              [columns]="options.visibleColumns"
              [columnAutoWidth]="true"
              [hoverStateEnabled]="true"
              [selectedRowKeys]="gridBoxValue"
              (onRowClick)="selectRow($event.data)"
              height="100%"
            >
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-scrolling
                mode="native"
                showScrollbar="always"
              ></dxo-scrolling>
            </dx-data-grid>
          </div>
        </ng-container>
      </dx-scroll-view>
    </div>

    <dx-validator>
      <dxi-validation-rule type="required" message="Polje je obavezno">
      </dxi-validation-rule>
      <dxi-validation-rule
        type="pattern"
        [pattern]="config.regExpresion"
        message="Podatak ne odgovara formatu"
      >
      </dxi-validation-rule>
    </dx-validator>
  </dx-drop-down-box>
</div>
